<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This web app is to register employee's hours working on a project">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../javascript/login.js"></script>
        <title>Trackgenix:register hours to employees</title>
    </head>
    <body>
        <aside class="sidebar">
            <section class="container-1-aside">
                <div class="search">
                    <input type="search" placeholder="Search">
                </div>
                <div class="sidebar-page-go">
                    <a id="home" href="https://maxi-sr.github.io/BaSP-A2022-Etapa-1/week-06/views/index.html">Home</a>
                    <a id="sign-in" href="">Sign Up</a>
                    <a id="login" href="https://maxi-sr.github.io/BaSP-A2022-Etapa-1/week-06/views/login.html">Log in</a>
                </div>
            </section>
            <section class="contact-container-aside">
                <h3 id="get-in-touch">Get In Touch</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                </p>
                <address>
                    <a id="address" href="">
                        <img src="../img/IconAdress.png" alt="icon-addres"> 1245 Sffeinvrjrs, Bnaudads
                    </a>
                    <a id="email" href="">
                        <img src="../img/IconEmail.png" alt="icon-email"> sikififgnms@gmail.com
                    </a>
                    <a id="phone" href="">
                        <img src="../img/IconTelephone.png" alt="icon-phone"> 0981271841
                    </a>
                </address>
            </section>
        </aside>
        <header>
            <h1 id="principal-title">Trackgenix</h1>
            <p id="subtitle-right">By GigaTech Software Solution SA</p>
        </header>
        <main>
            <div class="main-container">
                <form class="container-items" autocomplete="off">
                    <h1 class="form-items" id="log-in-title">Log in</h1>
                    <input id="input-email" class="form-items input-email" type="text">
                    <p id="error-message-email"></p>
                    <input id="input-password" class="form-items input-password" type="text">
                    <p id="error-message-password"></p>
                    <div class="form-items" id="remember-me-container">
                        <input id="checkbox-input" type="checkbox" checked="checked">
                        <p>Remember me</p>
                    </div>
                    <p class="form-items">Forgot password?</p>
                    <input class="form-items" type="submit" value="Continue">
                </form>
            </div>
        </main>
        <footer>
            <section class="footer-container">
                <div class="social-ntw">
                    <a href="">
                        <img src="../img/fb.png" alt="facebook-icon">
                    </a>
                    <a href="">
                        <img src="../img/in.png" alt="linkedin-icon">
                    </a>
                    <a href="">
                        <img src="../img/tw.png" alt="twitter-icon">
                    </a>
                    <a href="">
                        <img src="../img/ig.png" alt="instagram-icon">
                    </a>
                    <a href="">
                        <img src="../img/gh.png" alt="github-icon">
                    </a>
                </div>
                <div class="montevideo">
                    <p class="montevideo">Montevideo,Uruguay.</p>
                    <p class="Copyright">Copyright &copy; 2022 GigaTech Software Solution SA</p>
                </div>
            </section>
        </footer>
    </body>
</html>