main{
    flex-direction: column;
    display: flex;
    margin: 48px;
    border-top-style: solid;
    border-top-color:rgba(73, 163, 123, 1);
    align-items: center;
}


.section-container > img {
    max-width: 100%
}

.section-container h3{
    font-size: 20px;
}

.section-container{
    border-bottom-style: solid;
    border-bottom-color:rgba(73, 163, 123, 1);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.section-container > h2 {
    border-bottom-style: solid;
    border-bottom-color: #49A37B;
    font-size: 30px;
}

#learn-more-btn{
    color:aliceblue;
    background-color:#49A37B;
    width:167px;
    text-decoration-line:none;
    text-align:center;
    border-radius:4px;
    text-transform:uppercase;
    padding:14px 36px;
    font-size:15px;
    font-weight:900;
}
.section-container-1 > h2{
    border-bottom-style: solid;
    border-bottom-color: #49A37B;
}

.why-track-divs{
    background-color:white;
    color:#373867;
    border-radius:20px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.why-track-divs .text-only{
    flex-direction: column;
    padding: 10px;
}

.why-track-divs img{
    margin-top: 24px;
    margin-right: 27px;
    order: 1;
    align-self: flex-start;
}

.why-track-divs h3{
    align-self: flex-start;
    margin-left: 23px;
}

.why-track-divs p{
    align-self: flex-end;
    margin-left: 23px;
}

form{

}

#sbm-rst{
    display: flex;  
    justify-content: left;
}

#sbm-rst input{
    margin-inline: 10px;
    flex: 0 0 80px;
}

#submit-btn{
    background-color:#49A37B;
    color:white;
    border-style:none;
    height:34px;
    width:87px;
    border-radius:4px;
    margin-top: 10px;    
}


#reset-btn{
    background-color:rgba(241, 51, 18, 1);
    color:white;
    border-style:none;
    height:34px;
    width:87px;
    border-radius:4px;
    margin-top: 10px;
}

.section-container-3{
    flex-direction: row;
}

.lorem-container{
    display: flex;
    align-items: center;
}

.lorem img{
    margin-right: 10px;
    border-radius: 60px;
    border-color: aliceblue;
    border-style: solid;
}

.section-container form div{
    display: flex;
    flex-wrap: wrap;
}

.section-container form div input{
    flex: 0%;
    margin-top: 10px;
    border-radius: 3px;
    border-width: 1px;
    background-color: #373867;
    color: white;
}

.section-container form select{
    color: white;
    border-width: 1px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #373867;
    flex: 100%;
}

.section-container textarea{
    color: white;
    border-width: 1px;
    border-radius: 3px;
    background-color: #373867;
    flex:100%;
}


.list-container{
    border-bottom-style: solid;
    border-bottom-color: rgba(73, 163, 123, 1);
}


#amet-aungue{
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, 1);
    padding-left: 10px;
}

@media screen and (min-width:480px){

    .section-container-1{
        display: flex;
        flex-wrap: wrap;                  
    }

    .why-track-divs{
        flex: 45%;
    }


    .section-container form{
        display: flex;
        flex-flow: column;
        flex: 100%;
    }

    .section-container form div:first-child{
        justify-items: space-between;
        
        
    }

    .list-container{
        display: flex;
        flex-direction:row;
        align-content: space-between;
    }

    footer{
        justify-content: center;
    }

    .lorem-p-img-1{
        display: flex;
    }

    .lorem-p-img-2{
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
    }

    .lorem-p-img-2 img{
        align-self: center
    }
    #lorem-p-3{
        display: none;
    }

}

@media screen and (min-width:480px){
    .lorem{
        display:none;
    }

    article{
        flex:50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    article img{
        align-self: center;
    }
    
}

@media only screen and (max-width:480px) {
    
    /*por ahora pongo esto aca*/
    .lorem-2{
        display: none;
    }

}

@media screen and (min-width:1024px){

    .section-container-1{
        display: flex;
        flex-wrap: nowrap;
        height: 400px;
    }

    .article-containers{
        display:flex;
        flex-flow:row;
        justify-content:center;
        flex-wrap:wrap;
    }

    

    article{
            flex:50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
    article img{
        align-self: center;
    }

    
    
}
