* {
    box-sizing:border-box
}

html,body {
    background-color:#373867;
    height:100%;
    color:white;
    font-family:"Roboto";
    margin: 0;
}
h3{
    font-size: 1.25rem;
}

p {
    font-size: 0.75rem;
}
