.social-ntw {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.montevideo {
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}